<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="#"><img class="mx-3" src="logo.jpg" width="50px" height="50px" />Spell-It</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<%if(!username){%>
						<a class="nav-link" href="/signup">SignUp</a>
					<%}%>
					
				</li>
				<li class="nav-item">
					<%if(username){%>
						<a class="nav-link" href="/dashboard">Dashboard</a>
					<%}%>
				</li>
				<li class="nav-item">
					<%if(username){%>
						<a class="nav-link" href="/logout">Logout</a>
					<%}%>
				</li>
				<li class="nav-item">
					<%if(username){%>
						<a class="nav-link" ><span class="">Hi, <%=username%></span></a>
					<%}else{%>
						<a class="nav-link" href="/login">Login</a>
					<%}%>
					
				</li>
			</ul>
		</div>
	</div>
</nav>
