<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>SpellCheck</title>
		<script src="index.js"></script>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<script src="/js/bootstrap.min.js"></script>
	</head>
	<body>
		<%- include('./partials/navbar'); %>

		<div class="container">
			<form class="mt-5" action="#">
				<div class="form-group">
					<label for="userWord">Enter your word</label>
					<input class="form-control" type="text" name="userWord" id="enteredWord" required />
				</div>

				<div class="form-group mt-3">
					<input type="button" onclick="handleClick()" class="btn btn-primary" value="Submit" />
				</div>
				<div class="form-group mt-5">
					<div id="result" class="form-group"></div>
				</div>
				<div class="form-group mt-3">
					<input type="button" onclick="handleAddToDatabase()" id="databaseAdd" class="btn btn-primary d-none" value="Add to Database" />
				</div>
			</form>
		</div>
	</body>
</html>
